<div class="panel-footer noPrint">
				<ul class="pagination pagination-sm">
			<li ng-show="(page - 1) > 0" ng-click="goPage(page - 1)">
				<a href="#" aria-label="Previous">
					<span aria-hidden="true">«</span>
				</a>
			</li>
			<li ng-show="(page - 2) > 0" ng-click="goPage(page - 2)"><a>{{page - 2}}</a></li>
			<li ng-show="(page - 1) > 0" ng-click="goPage(page - 1)"><a>{{page - 1}}</a></li>
			<li ng-show="(page) > 0" ng-click="goPage(page)"><a>{{page}}</a></li>
			<li ng-show="(page) < count / limit" ng-click="goPage(page + 1)"><a>{{page + 1}}</a></li>
			<li ng-show="(page + 1) < count / limit" ng-click="goPage(page + 2)"><a>{{page + 2}}</a></li>
			<li ng-show="(page) < count / limit" ng-click="goPage(page + 1)">
				<a aria-label="Next">
					<span aria-hidden="true">»</span>
				</a>
			</li>
				</ul>	<span class="jtable_text">go to page:</span>

				<select class="jtable_select" ng-change="goPage(shortCutPage)" ng-model="shortCutPage">
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
					<option value="6">6</option>
					<option value="7">7</option>
				</select>	<span class="jtable_text">row count:</span>

				<select class="jtable_select" ng-change="updateLimit(limitCount)" ng-model="limitCount">
					<option value="25">25</option>
					<option value="50">50</option>
					<option value="100">100</option>
					<option value="250">250</option>
					<option value="500">500</option>
					<option value="1000">1000</option>
				</select>	

				<span class="jtable_text float_right">Showing  {{(pPage-1)*pLimit +1}}-{{(pPage)*pLimit}} of {{count}}</span>
			</div>